@font-face {
  font-family: "Circle_Regular";
  src: url("fonts/CRC55.eot");
  src: url("fonts/CRC55.woff") format("woff"), url("fonts/CRC55.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circle_Light";
  src: url("fonts/CRC35.eot");
  src: url("fonts/CRC35.woff") format("woff"), url("fonts/CRC35.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circle_ExtraLight";
  src: url("fonts/CRC25.eot");
  src: url("fonts/CRC25.woff") format("woff"), url("fonts/CRC25.ttf") format("truetype"), url("fonts/CRC25.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circle_Bold";
  src: url("fonts/Circe-Bold.eot");
  src: url("fonts/Circe-Bold.woff") format("woff"), url("fonts/Circe-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circle_ExtraBold";
  src: url("fonts/Circe-ExtraBold.eot");
  src: url("fonts/Circe-ExtraBold.woff") format("woff"), url("fonts/Circe-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}