.buy-bg-body {
    display: flex;
    align-items: flex-end;
    height: 485px;
    background: linear-gradient(180deg, rgba(32, 50, 66, 0.5) 0%, rgba(32, 50, 66, 0.66) 77.08%, rgba(32, 50, 66, 0.8) 100%), url(/img/buying/bg.png)center / cover no-repeat;
  }
  .buy-bg-text {
    font-family: "Circe";
    font-weight: 700;
    font-size: 48px;
    color: $c_w;
    margin: 0 0 50px 130px;
  }
  .calculator-body img {
    width: 100%;
  }
  .how-to-buy-body {
    display: flex;
    padding: 100px 0;
  }
  .how-to-buy-body__text {
    max-width: 361px;
    width: 100%;
    font-family: "Circe";
    font-weight: 350;
    font-size: 36px;
    line-height: 1.1em;
    color: $c_b;
  }
  .option {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  .option-wrap {
    flex-wrap: wrap;
    margin: 0;
  }
  .option__number {
    position: relative;
    width: 52px;
    height: 52px;
    background: rgba(141, 174, 62, 0.2);
    border-radius: 4px;
  }
  .option-num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Circe";
    font-weight: 700;
    font-size: 32px;
    color: $c_l_g;
  }
  .option__title {
    font-family: "Circe";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1em;
    color: $c_l_g;
    margin-left: 25px;
  }
  .option__text {
    max-width: 355px;
    width: 100%;
    font-family: "Circe";
    font-weight: 350;
    font-size: 16px;
    line-height: 1.2em;
    color: $c_b;
    padding-left: 80px;
  } 
  