// Buttons
.sales-page {
    justify-content: flex-start;
  }
  .sales-page button {
    margin-right: 30px;
  }
  .sales-page button:last-child {
    margin-right: 0;
  }
  // sales block
  .sales-page-slider {
    padding: 90px 0 0 0;
    border-bottom: 1px solid rgba(95, 123, 144, 0.2);
  }
  .sales-page-slide {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
  }
  .sales-slide-img__text a {
    font-family: "Circe";
    font-weight: 700;
    font-size: 14px;
    color: $c_l_b;
  }
  .sales-slide-img {
    position: relative;
  }
  .slide-img__absolute {
    max-width: 206px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 33px;
  }
  // salesform
  
  .sales-form {
    background-color: $c_l_grey;
    padding: 90px 0 80px 0;
  }
  .sales-form-title {
    max-width: 674px;
    width: 100%;
    font-family: "Circe";
    font-weight: 350;
    font-size: 36px;
    line-height: 0.9em;
    color: $c_b;
    margin-bottom: 30px;
  }
  .sales-form-text {
    max-width: 300px;
    width: 100%;
    font-family: "Circe";
    font-weight: 350;
    font-size: 18px;
    line-height: 1.2em;
    color: $c_l_b;
    border-left: 2px solid $c_l_g;
    padding-left: 20px;
    margin-left: 126px;
  
  }
  .sales-form-body__text {
    display: flex;
    align-items: flex-start;
  }
  .sales-input-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
  }
  .sales-input input {
    width: 100%;
    height: 100%;
    padding: 13px 22px;
    background: $c_w;
    border-radius: 4px;
    font-family: "Circe";
    font-weight: 350;
    font-size: 16px;
    color: $c_l_b;
  }
  .sales-input {
    max-width: 370px;
    width: 100%;
    height: 52px;
  }
  .submit-input input {
    background-color: $c_l_g;
    font-family: "Circe";
    font-weight: 350;
    font-size: 16px;
    color: $c_w;
  }
  .checkbox-span {
    font-family: "Circe";
    font-size: 14px;
    font-weight: 400;
    margin-left: 30px;
    color: $c_l_b;
  }
  .checkbox {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  .checkbox-styled {
    width: 20px;
    height: 20px;
    background: $c_w;
    position: absolute;
  }
  .checkbox:checked + .checkbox-styled::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 8px;
    background: url(/img/sales/icon_01.svg) no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  