@import "nullstyle.scss";
@import "fonts.scss";
@import "colors.scss";

@import "main_topMenuFixed.scss";
@import "main_headMain.scss";
@import "main_about.scss";
@import "main_mission.scss";
@import "main_slider.scss";
@import "main_press.scss";
@import "main_salesSlider.scss";
@import "main_footer.scss";
@import "about_page.scss";
@import "belayaRuza_page.scss";
@import "ruzaChalet_page.scss";
@import "bosikom.scss";
@import "press_page.scss";
@import "press_page2.scss";

// @media (max-width: 1200px) {
//   .container  {
//     width: 100%;
//     padding: 0 15px;
//   }
//   .slide {
//     margin-right: 15px;
//   }
//   .slide:last-child {
//     margin-right: 0;
//   }
// }

// Buttons
.sales-page {
  justify-content: flex-start;
}
.sales-page button {
  margin-right: 30px;
}
.sales-page button:last-child {
  margin-right: 0;
}
// sales block
.sales-page-slider {
  padding: 90px 0 0 0;
  border-bottom: 1px solid rgba(95, 123, 144, 0.2);
}
.sales-page-slide {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
.sales-slide-img__text a {
  font-family: "Circe";
  font-weight: 700;
  font-size: 14px;
  color: $c_l_b;
}






