@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe_Regular.eot');
	src: url('../fonts/Circe_Regular.woff') format('woff'), 
         url('../fonts/Circe_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe_Light.eot');
	src: url('../fonts/Circe_Light.woff') format('woff'),
         url('../fonts/Circe_Light.ttf') format('truetype');
	font-weight: 350;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe_ExtraLight.eot');
	src: url('../fonts/Circe_ExtraLight.woff') format('woff'),
         url('../fonts/Circe_ExtraLight.ttf') format('truetype');
	font-weight: 250;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe_Bold.eot');
	src: url('../fonts/Circe_Bold.woff') format('woff'),
         url('../fonts/Circe_Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe_ExtraBold.eot');
	src: url('../fonts/Circe_ExtraBold.woff') format('woff'),
         url('../fonts/Circe_ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}




