@font-face {
	font-family: 'Circle_Regular';
	src: url('fonts/Circle_Regular.eot');
	src: url('fonts/Circle_Regular.woff') format('woff'), 
         url('fonts/Circle_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Circle_Light';
	src: url('fonts/Circle_Light.eot');
	src: url('fonts/Circle_Light.woff') format('woff'),
         url('fonts/Circle_Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Circle_ExtraLight';
	src: url('fonts/Circle_ExtraLight.eot');
	src: url('fonts/Circle_ExtraLight.woff') format('woff'),
         url('fonts/Circle_ExtraLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Circle_Bold';
	src: url('fonts/Circle_Bold.eot');
	src: url('fonts/Circle_Bold.woff') format('woff'),
         url('fonts/Circle_Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Circle_ExtraBold';
	src: url('fonts/Circle_ExtraBold.eot');
	src: url('fonts/Circle_ExtraBold.woff') format('woff'),
         url('fonts/Circle_ExtraBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}




